@import url('https://fonts.googleapis.com/css?family=Open+Sans:300|PT+Serif:700');
body
h1{font-family: 'PT Serif', serif;
  padding-top: 3.5rem;
}
h2, h5{font-family: 'PT Serif', serif;}

p{font-family: 'Open Sans', sans-serif;}
